@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Lora", serif;
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno{
    padding: 0 50px;
    
}
    .header{
    background: url(../img/agencias/danli/Danlí-1.jpg);/*Esto de ../ nos ayuda a retroceder sobre un directorio*/
    background-position: center bottom;/*Aqui le damos el aspecto que tendra la imagen*/
    background-attachment: contain;
    background-size: cover;
   

    display: flex;
    flex-flow: column nowrap;
    }
        .menu{
            background: linear-gradient(to bottom, rgba(151, 170, 253, 0.699), rgb(1, 27, 34));
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;

        }
            .logo{  
                display: flex;
                flex:3 1 auto; 
                      
            }
            .logo{
                float: left;
                padding: 5px 5px 0;
            }
            .logo img{
                height: 80px;
            }
            .logo img:hover{
                transform: scale(1.1);
            }
            .nav{
          
                flex:5 1 auto;              
            }
            .nav{
              font-family: "Poppins", sans-serif;
              font-weight: 300;
              font-style: normal; 
              float: right;
                display: flex;
                align-items: center;
                min-height: 90px;
                z-index: 1000;
            }
            .nav ul{
                list-style: none;
                padding: 0 10px;
            }
            .nav ul li{
                display: inline-block;
                position: relative;
                transition: .3s linear;
                z-index: 1000;
            }
            .nav ul li:hover{
                transform: scale(1.1);
            }
            .nav ul li a{
                color: #ffffff;
                text-shadow: 2px 2px 4px #000000;
                text-align: center;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: bold;
                padding: 12px 20px;
                transition: .3s linear;
            }
            
            .nav ul li a:hover{
                color: #f7d309;
                transform: scale(1.1);
            }
            
            .nav ul li:hover .hijos{
                display: block;
                background-color: hsla(224, 73%, 20%, 0.89);
            }
            .nav .submenu .hijos{
                display: none;
                background: linear-gradient(to bottom, hsla(187, 100%, 7%, 0.192), hsla(193, 98%, 50%, 0.473));
                position: absolute;
                width: 140%;
                margin-top: 5px;
               
            }
            .nav .submenu .hijos li{
                display: block;
                overflow: hidden;
                border-bottom: none;
            }
            .nav .submenu .hijos li a{
                display: block;
                text-align: left; 
            }
            

        .texto-principal{
            background: rgba(0,0,0,.6);
            height: 500px;
            padding: 160px;
            text-align: center;
        }
            h1{
              font-family: "Poppins", sans-serif;
              font-weight: 600;
              font-style: italic;
                font-size: 70px;
                color: #fff;
                text-shadow: 2px 2px 4px #000000;
                font-weight: 800;
                text-align: center;
                line-height: 1.6;
            }
            h1:hover{
                color: #fffb00;
                text-shadow: 2px 2px 4px #0a0a0a;
            }
            .creciendo{
              font-family: "Poppins", sans-serif;
              font-weight: 500;
             
                font-size: 45px;
                
                color: #faf5f5;
                text-shadow: 2px 2px 4px #000000;
                font-weight: 400;
                text-align: center;
                line-height: 1.6;
            }
            .creciendo:hover{
                color: #fffb00;
                text-shadow: 2px 2px 4px #0a0a0a;
            }
            .creciendo1{
              font-family: "Poppins", sans-serif;
              font-weight: 500;
                font-size: 35px;
               
                color: #faf5f5;
                text-shadow: 2px 2px 4px #000000;
                font-weight: 800;
                text-align: center;
                line-height: 1.6;
                transition: color 0.3s, transform 0.3s; /* Agrega una transición suave */
            }
            .creciendo1:hover {
              color: #ffcc00; /* Cambia el color del texto al pasar el cursor por encima */   
          }

 /* Agrega un margen vertical entre las secciones */
 
.Carrusel{
    width: 100%;
    height: 100%;
   margin-top: 300px;
    padding: 0;
    background-color: white;
}
#carousel {
    position: relative;
    height: 600px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
  }
  #carousel div {
    position: absolute;
    transition: transform 400ms, left 400ms, opacity 400ms, z-index 0s;
    opacity: 1;
  }
  #carousel div img {
    width: 400px;
    transition: width 400ms;
     -webkit-user-drag: none;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
     border-radius: 10px;
  }
  
  #item_1 {
    position: relative; /* Asegura que el contenido dentro de este div sea relativo a este div */
    display: inline-block; /* Para que el div solo abarque el contenido */
}

#item_1 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
    position: absolute; /* Posicionamiento absoluto */
    bottom:40px; /* Distancia desde la parte inferior */
    left: 20px; /* Distancia desde el lado izquierdo */
    margin: 0; /* Elimina el margen predeterminado */
    color: #fffb00; /* Color del texto */
    text-shadow: 1px 1px 2px rgba(6, 6, 6, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_1 p{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  position: absolute; /* Posicionamiento absoluto */
  bottom: 20px; /* Distancia desde la parte inferior */
  left: 20px; /* Distancia desde el lado izquierdo */
  margin: 0; /* Elimina el margen predeterminado */
  color: white; /* Color del texto */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_2 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
    position: absolute; /* Posicionamiento absoluto */
    bottom:40px; /* Distancia desde la parte inferior */
    left: 20px; /* Distancia desde el lado izquierdo */
    margin: 0; /* Elimina el margen predeterminado */
    color: #fffb00; /* Color del texto */
    text-shadow: 1px 1px 2px rgba(6, 6, 6, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_2 p{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  position: absolute; /* Posicionamiento absoluto */
  bottom: 20px; /* Distancia desde la parte inferior */
  left: 20px; /* Distancia desde el lado izquierdo */
  margin: 0; /* Elimina el margen predeterminado */
  color: white; /* Color del texto */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_3 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
    position: absolute; /* Posicionamiento absoluto */
    bottom:40px; /* Distancia desde la parte inferior */
    left: 20px; /* Distancia desde el lado izquierdo */
    margin: 0; /* Elimina el margen predeterminado */
    color: #fffb00; /* Color del texto */
    text-shadow: 1px 1px 2px rgba(6, 6, 6, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_3 p{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  position: absolute; /* Posicionamiento absoluto */
  bottom: 20px; /* Distancia desde la parte inferior */
  left: 20px; /* Distancia desde el lado izquierdo */
  margin: 0; /* Elimina el margen predeterminado */
  color: white; /* Color del texto */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_4 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
    position: absolute; /* Posicionamiento absoluto */
    bottom:40px; /* Distancia desde la parte inferior */
    left: 20px; /* Distancia desde el lado izquierdo */
    margin: 0; /* Elimina el margen predeterminado */
    color: #fffb00; /* Color del texto */
    text-shadow: 1px 1px 2px rgba(6, 6, 6, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_4 p{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  position: absolute; /* Posicionamiento absoluto */
  bottom: 20px; /* Distancia desde la parte inferior */
  left: 20px; /* Distancia desde el lado izquierdo */
  margin: 0; /* Elimina el margen predeterminado */
  color: white; /* Color del texto */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_5 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
    position: absolute; /* Posicionamiento absoluto */
    bottom:40px; /* Distancia desde la parte inferior */
    left: 20px; /* Distancia desde el lado izquierdo */
    margin: 0; /* Elimina el margen predeterminado */
    color: #fffb00; /* Color del texto */
    text-shadow: 1px 1px 2px rgba(6, 6, 6, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_5 p{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  position: absolute; /* Posicionamiento absoluto */
  bottom: 20px; /* Distancia desde la parte inferior */
  left: 20px; /* Distancia desde el lado izquierdo */
  margin: 0; /* Elimina el margen predeterminado */
  color: white; /* Color del texto */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_6 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
    position: absolute; /* Posicionamiento absoluto */
    bottom:40px; /* Distancia desde la parte inferior */
    left: 20px; /* Distancia desde el lado izquierdo */
    margin: 0; /* Elimina el margen predeterminado */
    color: #fffb00; /* Color del texto */
    text-shadow: 1px 1px 2px rgba(6, 6, 6, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_6 p{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  position: absolute; /* Posicionamiento absoluto */
  bottom: 20px; /* Distancia desde la parte inferior */
  left: 20px; /* Distancia desde el lado izquierdo */
  margin: 0; /* Elimina el margen predeterminado */
  color: white; /* Color del texto */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_7 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
    position: absolute; /* Posicionamiento absoluto */
    bottom:40px; /* Distancia desde la parte inferior */
    left: 20px; /* Distancia desde el lado izquierdo */
    margin: 0; /* Elimina el margen predeterminado */
    color: #fffb00; /* Color del texto */
    text-shadow: 1px 1px 2px rgba(6, 6, 6, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_7 p{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  position: absolute; /* Posicionamiento absoluto */
  bottom: 20px; /* Distancia desde la parte inferior */
  left: 20px; /* Distancia desde el lado izquierdo */
  margin: 0; /* Elimina el margen predeterminado */
  color: white; /* Color del texto */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_8 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
    position: absolute; /* Posicionamiento absoluto */
    bottom:40px; /* Distancia desde la parte inferior */
    left: 20px; /* Distancia desde el lado izquierdo */
    margin: 0; /* Elimina el margen predeterminado */
    color: #fffb00; /* Color del texto */
    text-shadow: 1px 1px 2px rgba(6, 6, 6, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
#item_8 p{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  position: absolute; /* Posicionamiento absoluto */
  bottom: 20px; /* Distancia desde la parte inferior */
  left: 20px; /* Distancia desde el lado izquierdo */
  margin: 0; /* Elimina el margen predeterminado */
  color: white; /* Color del texto */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Sombra de texto para mejorar la legibilidad */
}
  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideLeft img {
    width: 200px;
  }

  #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideRight img {
    width: 200px;
  }
  #carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
  }
  #carousel img:hover {
    cursor: pointer;
  }
  #carousel div.prev img {
    width: 300px;
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
  }
  #carousel div.prevLeftSecond img {
    width: 200px;
  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
  }
  #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
  }
  #carousel div.next img {
    width: 300px;
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
  }
  #carousel div.nextRightSecond img {
    width: 200px;
  }
  
  /*previous or next buttons css*/
  
  .buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -650px;
    z-index: 1000; /* Asegura que esté por encima del carrusel */
  }
  
  .button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      rgb(0, 72, 80) 0%,
      rgb(0,196,218) 8%,
      rgb(0,196,218) 92%,
      rgb(0, 72, 80) 100%
    );
  }
  
  .button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #0693a3;
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .button-82-front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }
  
  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }



    .section{
    background: #f7f7f7;
    display: flex;
    }
        .articulos{
            background: #f7f7f7;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;

        }
          
            .article{             
                flex: 1 1 40%;
                color: #e6dcdc;
                font-size: 12px;
                letter-spacing: 1;
                margin: 10px 10px 70px 0px;
                flex: 1 1 45%;
                background: #ececec;
                
            }
            .article img{
                width: 100%;
            }           
            .article a{
                color: #fff;
                font-size: 13px;
                padding: 10px ;
                background: rgba(0,0,0,.5);
                margin: 10px 0;
                display: inline-block; /*Esto nos ayuda que la cajita se convierta en un boton*/
            }
            .article a:hover{
                background-color: #000;
                color: #2dceff;
            }
            h3{
                color: #fff;
                font-size: 13px;
                padding: 10px 5px;
                margin-top: -80px;
            }
            .article h3:hover{
                color: #f6f945;
            }
            h2{
                font-size: 25px;
                text-transform: uppercase;/*LA OPCION UPPERCASE ES PARA PONER EL TITULO EN MAYUSCULA*/
                padding: 0px 0 10px 0;             
                color: #ffffff;
            }
            .article h2:hover{
                color: #f6f945;
            }
            p{
                color: gray;
                
            }
           
            .navegacion{
                background: #d9dce0;
                flex: 1 1 100%;
                margin: 10px 10px 0 0px;                           
            }
            .navegacion a{
                color: #6f6c6c;
                font-size: 11px;               
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
            .navegacion a:hover{
                color: #dc1edc;
            }

           
       
            .redes-sociales{
                display: flex;
                align-items: center;
                justify-content: center; /* Alinear los iconos de redes sociales hacia la derecha */
                margin-right: 10px;
                }
                .redes-sociales{
                position: relative; /* Establece la posición relativa */
                margin: 0 40px; /* Espacio entre los iconos de las redes sociales */
                font-size: 24px;
                color: #dedede;
                transition: color 0.3s, transform 0.3s; /* Transiciones suaves para el color y la escala */
               
                }
                .facebook{
                    margin: 0px 15px;
                    color: #0a74ee;
                }
                .instagram{
                    margin: 0px 5px;
                    color: #db1e05;
                }
                .whatsapp{
                    margin: 0px 15px;
                    color: #01b534;
                }
            
                /* Efecto de escala al pasar el mouse */
                .redes-sociales a:hover {
                transform: scale(1.3); /* Escala el icono al 130% del tamaño original */
               
                
                }
            
                /* Cambio de color al pasar el mouse */
                .redes-sociales .facebook:hover {
                color: #1684fa; /* Cambia el color al pasar el mouse */
                }
            
                .redes-sociales .instagram:hover {
                color: #f10505; /* Cambia el color al pasar el mouse */
                }
            
                .redes-sociales .whatsapp:hover {
                color: #55e203; /* Cambia el color al pasar el mouse */
                }
            
                /* Animación para el fondo cuadradito */
                .redes-sociales a::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 0;
                height: 0;
                background-color: transparent;
                border: 1px solid transparent;
                border-radius: 10px; /* Ajusta el radio de las esquinas para hacerlas curveadas */
                transition: width 0.3s, height 0.3s, background-color 0.3s;
                transform: translate(-50%, -50%);
                }
            
                /* Efecto de crecimiento y cambio de color al pasar el mouse */
                .redes-sociales a:hover::after {
                width: 30px;
                height: 30px;
                background-color: rgba(5, 92, 133, 0.418); /* Cambia el color de fondo */
                border-color: hsla(0, 0%, 0%, 0.192); /* Cambia el color del borde */
                }
/*MODIFICACION DEL FOOTER*/
.wave2{
    position: absolute;
    bottom: -1943px;
    left: -0px;
    width: 100%;
   
} 
.footer{
    padding: 50px 60px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(0, 32, 102, 0.686), rgb(63, 147, 251));
    
}
/*ESTO SIRVE PARA TENER EL EFECTO WAVE: OSEA PONER LA OLA*/
.wave{
    position: absolute;
    bottom: 70px;
    left: -0px;
    width: 100%;
} 
/*AQUI SE COMIENZA A HACER EL FOOTER*/
footer{
    background: linear-gradient(to right, #002454, #0077FF);
    position: absolute;
    width: 100%;
    min-height: 100px;
    padding: 3rem 1rem;
}
.container {
   max-width: 1200px;
   margin: 30px auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}

.row{
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.col{
   min-width: 250px;
   color:#f2f2f2f2;
   font-family: poppins;
   padding:0 2rem;
}
.col .logo2{
    width: 200px;
    margin-bottom:25px; 
    position: absolute; /* Cambiar a posicionamiento absoluto */
    top: 20px; /* Colocar en la esquina superior */
    left: 55px;
    cursor: pointer;
 }
 .logo2 img {
     width: 200px;
     margin-bottom: 25px;
     transition: transform 0.3s ease; /* Agregar una transición para una animación suave */
   }
 .logo2 img:hover{
    transform: translateX(8px);
 }
.col p{
    color: #ffffff;
    text-align: justify;
    margin-top: -100px; /* Ajustar el margen superior para dejar espacio debajo del logo */
}
.col h3{
   color:rgb(255, 255, 255);
   margin-bottom: 20px;
   font-size: 16px;
   position: relative;
   cursor: pointer;
}
.col h3::after{
   content: '';
   height:3px;
   width:0px;
   background-color: rgb(247, 255, 1);
   position: absolute;
   bottom: 0;
   left:0;
   transition: 0.3s ease;

}
.col h3:hover::after{
   width:60px
}
.col .contac {
    color:#ffffff;
   margin-bottom: 100px;
   font-size: 16px;
   position: relative;
   cursor: pointer;
}
.contact-info .numero:hover{
   color: rgb(242, 254, 6);
   transform: translateX(8px);
}

.col .social a i{
   color:rgb(255, 255, 255);
   margin-top:2rem;
   font-size: 25px;
   margin-right: 15px;
   transition: 0.3s ease;
}

.col .social a i:hover{
   transform: scale(1.9);
   filter:grayscale(25);
}
.col .links a{
   display: block;
   text-decoration: none;
   color:#ffffff;
   margin-bottom: 5px;
   position: relative;
   transition: 0.3s ease;
}
.col .links a::before{
   content:'';
   height: 16px;
   width:3px;
   position: absolute;
   top:5px;
   left:-10px;
   background-color: rgb(1, 213, 255);
   transition: 0.5s ease;
   opacity: 0;
}
.col .links a:hover::before{
   opacity: 1;
}
.col .links a:hover{
   transform: translateX(-8px);
   color:rgb(243, 255, 12);
}
.col .contact-details{
   display: inline-flex;
   justify-content: space-between;
   color:#ffffff;
   margin-bottom: -10px;
   font-size: 16px;
}

.row .form{
   display: flex;
   justify-content: center;
   align-items: center;
   padding:2rem 0;
}
.row .form input{
   background-color: #1a1c20ff;
   border:0;
   outline:none;
   padding:14px 20px;
   border-radius: 6px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
.form button{
   padding:14px 20px;
   border:0;
   border-radius: 6px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   background-color: rgb(7, 197, 249);
}
.form button i.fa-paper-plane:hover {
    transform: scale(1.4); /* Agranda la escala al pasar el mouse */
    color: #ffdd00; /* Cambia el color al pasar el mouse */
  }
  .form button:hover{
    transform: scale(1.2); /* Agranda la escala al pasar el mouse */
    color: #ffdd00; /* Cambia el color al pasar el mouse */
  }


@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}

@media all and (max-width: 600px){
        .aside{
            flex-direction: column;
        }
}
/********** Responsive Design ********/
@media(max-width:800px)
{
 .row{
   flex-direction: column;
 }
 .logo2{
    display: none;
  
 }
 .col{
   width: 100%;
   text-align: center;
   margin-bottom: 25px;
 }
}
@media(max-width:768px)
{
    .social{
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
 .row{
   flex-direction: column;
   margin-top: 25px;
 }
 .col{
   width: 100%;
   text-align: center;
   margin-bottom: 40px;
 }
 .col .contac{
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 100px;
 }
.contact-details1 p{
    width: 100%;
    text-align: center;
}
.contact-info {
    display: flex;
    justify-content: center;
 
  }

.contact-info .numero{
    text-align:center; 
    margin-left: -20px;
}
}
