@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Lora", serif;
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno{
    padding: 0 50px;
    
}
    .header{
    background: url(../img/e3.jpg);/*Esto de ../ nos ayuda a retroceder sobre un directorio*/
    background-position: center;/*Aqui le damos el aspecto que tendra la imagen*/
    background-attachment: contain;
    background-size: cover;
   

    display: flex;
    flex-flow: column nowrap;
    }
        .menu{
            background: linear-gradient(to bottom, rgba(151, 170, 253, 0.699), rgb(1, 27, 34));
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;

        }
            .logo{  
                display: flex;
                flex:3 1 auto; 
                      
            }
            .logo{
                float: left;
                padding: 5px 5px 0;
            }
            .logo img{
                height: 80px;
            }
            .logo img:hover{
                transform: scale(1.1);
            }
            .nav{
          
                flex:5 1 auto;              
            }
            .nav{
                float: right;
                display: flex;
                align-items: center;
                min-height: 90px;
                z-index: 1000;
            }
            .nav ul{
                list-style: none;
                padding: 0 10px;
            }
            .nav ul li{
                display: inline-block;
                position: relative;
                transition: .3s linear;
                z-index: 1000;
            }
            .nav ul li:hover{
                transform: scale(1.1);
            }
            .nav ul li a{
                color: #ffffff;
                text-shadow: 2px 2px 4px #000000;
                text-align: center;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: bold;
                padding: 12px 20px;
                transition: .3s linear;
            }
            
            .nav ul li a:hover{
                color: #f7d309;
                transform: scale(1.1);
            }
            
            .nav ul li:hover .hijos{
                display: block;
                background-color: hsla(224, 73%, 20%, 0.89);
            }
            .nav .submenu .hijos{
                display: none;
                background: linear-gradient(to bottom, hsla(187, 100%, 7%, 0.192), hsla(193, 98%, 50%, 0.473));
                position: absolute;
                width: 140%;
                margin-top: 5px;
               
            }
            .nav .submenu .hijos li{
                display: block;
                overflow: hidden;
                border-bottom: none;
            }
            .nav .submenu .hijos li a{
                display: block;
                text-align: left; 
            }
            

        .texto-principal{
            background: rgba(0,0,0,.6);
            height: 500px;
            padding: 160px;
            text-align: center;
        }
            h1{
                font-family: "Lora", serif;
                font-style: italic;
                font-size: 50px;
                color: #fff;
                text-shadow: 2px 2px 4px #000000;
                font-weight: 800;
                text-align: center;
                line-height: 1.6;
            }
            h1:hover{
                color: #00b7ff;
                text-shadow: 2px 2px 4px #0a0a0a;
            }
            .creciendo{
                font-family: "Lora", serif;
                font-size: 35px;
                font-style: italic;
                color: #faf5f5;
                text-shadow: 2px 2px 4px #000000;
                font-weight: 500;
                text-align: center;
                line-height: 1.6;
            }
            .creciendo:hover{
                color: #00b7ff;
                text-shadow: 2px 2px 4px #0a0a0a;
            }
    .section{
    background: #f7f7f7;
    display: flex;
    }
        .articulos{
            background: #f7f7f7;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;

        }
          
            .article{             
                flex: 1 1 40%;
                color: #e6dcdc;
                font-size: 12px;
                letter-spacing: 1;
                margin: 10px 10px 0 0px;
                flex: 1 1 45%;
                background: #ececec;
                
            }
            .article img{
                width: 100%;
            }           
            .article a{
                color: #fff;
                font-size: 13px;
                padding: 10px ;
                background: rgba(0,0,0,.5);
                margin: 10px 0;
                display: inline-block; /*Esto nos ayuda que la cajita se convierta en un boton*/
            }
            .article a:hover{
                background-color: #000;
                color: #2dceff;
            }
            h3{
                color: #fff;
                font-size: 13px;
                padding: 10px 5px;
                margin-top: -80px;
            }
            .article h3:hover{
                color: #f6f945;
            }
            h2{
                font-size: 25px;
                text-transform: uppercase;/*LA OPCION UPPERCASE ES PARA PONER EL TITULO EN MAYUSCULA*/
                padding: 0px 0 10px 0;             
                color: #ffffff;
            }
            .article h2:hover{
                color: #f6f945;
            }
            p{
                color: gray;
                
            }
           
            .navegacion{
                background: #d9dce0;
                flex: 1 1 100%;
                margin: 10px 10px 0 0px;                           
            }
            .navegacion a{
                color: #6f6c6c;
                font-size: 11px;               
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
            .navegacion a:hover{
                color: #dc1edc;
            }
        .aside{
           /* background: #269bf5;*/
            flex: 1 1 auto;
            margin: 10px 5px 10px 0;
        }
        .aside img{
            width: 100%;
        }
        h4{
            background: rgba(0,0,0,.1);
            color: #fff;
            padding: 10px;
            text-transform: uppercase;
        }
            .publicidad{
                background: #4ca2cd;
                text-align: center;
            }
            .publicidad h4:hover{
                color: #fbff0b;
            }
           
            .redes-sociales{
                display: flex;
                align-items: center;
                justify-content: center; /* Alinear los iconos de redes sociales hacia la derecha */
                margin-right: 10px;
                }
                .redes-sociales{
                position: relative; /* Establece la posición relativa */
                margin: 0 40px; /* Espacio entre los iconos de las redes sociales */
                font-size: 24px;
                color: #dedede;
                transition: color 0.3s, transform 0.3s; /* Transiciones suaves para el color y la escala */
                }
                .facebook{
                    margin: 0px 15px;
                    color: #0a74ee;
                }
                .instagram{
                    margin: 0px 5px;
                    color: #db1e05;
                }
                .whatsapp{
                    margin: 0px 15px;
                    color: #01b534;
                }
            
                /* Efecto de escala al pasar el mouse */
                .redes-sociales a:hover {
                transform: scale(1.3); /* Escala el icono al 130% del tamaño original */
                }
            
                /* Cambio de color al pasar el mouse */
                .redes-sociales .facebook:hover {
                color: #1684fa; /* Cambia el color al pasar el mouse */
                }
            
                .redes-sociales .instagram:hover {
                color: #f10505; /* Cambia el color al pasar el mouse */
                }
            
                .redes-sociales .whatsapp:hover {
                color: #55e203; /* Cambia el color al pasar el mouse */
                }
            
                /* Animación para el fondo cuadradito */
                .redes-sociales a::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 0;
                height: 0;
                background-color: transparent;
                border: 1px solid transparent;
                border-radius: 10px; /* Ajusta el radio de las esquinas para hacerlas curveadas */
                transition: width 0.3s, height 0.3s, background-color 0.3s;
                transform: translate(-50%, -50%);
                }
            
                /* Efecto de crecimiento y cambio de color al pasar el mouse */
                .redes-sociales a:hover::after {
                width: 30px;
                height: 30px;
                background-color: rgba(5, 92, 133, 0.418); /* Cambia el color de fondo */
                border-color: hsla(0, 0%, 0%, 0.192); /* Cambia el color del borde */
                }
/*MODIFICACION DEL FOOTER*/
.wave2{
    position: absolute;
    bottom: -980px;
    left: -0px;
    width: 100%;
   
} 
.footer{
    padding: 100px 40px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(7, 154, 212, 0.534), rgb(0, 123, 255));
    
}
/*ESTO SIRVE PARA TENER EL EFECTO WAVE: OSEA PONER LA OLA*/
.wave{
    position: absolute;
    bottom: 70px;
    left: -0px;
    width: 100%;
} 
/* Estilos comunes para todos los elementos */
.links h4, .links2 h4, .links ul, .links2 ul, .links ul li p, .links2 ul li a {
    width: 80%; /* Ancho máximo del contenedor */
    margin: 10px auto; /* Margen uniforme */
    padding: 0; /* Elimina el relleno predeterminado */
}

.links h4, .links2 h4 {
background: none;
}

/* Estilos para h4 */
.links h4, .links2 h4 {
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    margin-left: auto; /* Alinea el texto a la izquierda */
    margin-right: auto; /* Alinea el texto a la derecha */
}

/* Estilos para los elementos de la lista */
.links ul, .links2 ul {
    list-style-type: none; /* Elimina el marcador de lista */
    padding: 0; /* Elimina el espacio interior predeterminado */
}

/* Estilos para los elementos de la lista dentro de .links y .links2 */
.links ul li, .links2 ul li {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
}

/* Estilos para párrafos dentro de .links ul li */
.links ul li p {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000e16;
    margin: 10px; /* Elimina el margen predeterminado */
    width: 80%; /* Ocupa todo el ancho disponible */
    letter-spacing: 2px; /* Ajusta el espaciado entre letras */
}
.links ul li p:hover {
color: #ffe343;
}

/* Estilos para enlaces dentro de .links2 ul li */
.links2 ul li a {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000e16;
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-top: 10px; /* Agregar margen superior */
    margin-left: 10px;
    line-height: 1.5; /* Ajusta el espacio entre líneas */
}

/* Cambiar el color al hacer hover */
.links2 ul li a:hover {
    color: #ffe343;
}
.fa-arrow-right {
    margin-left: 5px; /* Ajusta el margen izquierdo entre el icono y el texto */
    color: rgb(0, 9, 128); /* Cambia el color del icono */
    font-size: 24px; /* Cambia el tamaño del icono */
    margin-right: -20px;
    margin-top: -15px;
    transition: transform 0.3s ease; /* Agrega una transición de movimiento */
  }
  
  .fa-arrow-right:hover {
    transform: translateX(5px); /* Mueve el icono hacia la derecha al hacer hover */
    text-shadow: 2px 2px 4px #b7e4ff;
  }

.footer img{
    display: flex;
    width: 300px;
    height: 200px;
    transition: transform 0.3s ease; /* Transición suave al pasar el mouse */
    margin-left: -10px;
}

.footer img:hover{
    transform: scale(1.2); /* Escala la imagen al 110% del tamaño original */
    cursor: pointer; /* Cambia el cursor a una mano */
}
@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}

@media all and (max-width: 600px){
        .aside{
            flex-direction: column;
        }
}
