@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 /*ESTO PRIMERO PERMITE QUITAR LOS MARGENES DE TODOS LAS CAJAS DE TEXTO*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #025764;
}
/*BARRA DE NAVEGACION*/
 .header{
    position: relative;
    height: 55px;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #00bbffb2, rgb(1, 27, 34));;
    padding: -20px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
 }

 /*CAMBIAR EL LOGO*/
 .logo {
   display: flex;
   align-items: center;
}

.logo img {
   width: 160px; /* Ajusta el ancho según el tamaño de tu logo */
   height: auto; /* Esto asegura que la imagen se ajuste proporcionalmente */
}
.logo img:hover{
   transform: scale(1.1);
}
 .navigation ul{
    list-style: none;
    padding: 0 10px;
    text-shadow: 2px 2px 4px #000000;
 }
 .header .navigation ul li{
    float: left;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
 }
 .navigation ul li:hover{
   transform: scale(1.1);
}
.navigation ul li::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: 5px; /* Posición inicial por debajo del texto */
   width: 100%;
   height: 3px; /* Grosor de la línea */
   background-color: transparent; /* Color de la línea */
   transition: .20s ease; /* Transición suave */
}
.navigation ul li:hover::after {
   bottom: 0; /* Posición final, debajo del texto */
   background-color: #f7d309; /* Color de la línea */
}
 .header .navigation ul li a{
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 16px;
    display: block;
    transition: all .2s ease;

 }
 .header .navigation ul li a:hover{
    background-color: rgb(2, 29, 65);
    border-radius: 8px;
 }
 .header .navigation ul li ul{
    position: absolute;
    right: 0;
    width: 180px;
    background: linear-gradient(to bottom, #00bbffb2, rgb(1, 27, 34));;
    display: none;
    border-radius: 8px; /*Se le agrega el borde redondeado*/
 }
 .header .navigation ul li ul li a{
    font-size: 14px;
    text-transform: capitalize;
    
 }
 .header .navigation ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
  
 }
 .header .navigation ul li ul li{
    width: 100%;
 }
 .header .navigation ul li:hover > ul{
    display: initial;
 }
 #toggle,
 .header label{
    display: none;
    cursor: pointer;
 }

 .menu{
    width: 45px;
    height: 35px;
 }
.misionvideo {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 2; /*POCISIONA EL ELEMENTO ENCIMA DEL OTRO*/
}
.misionvideo h1{
font-size: 100px;
color: aliceblue;
text-shadow: 2px 2px 4px #000000;
font-weight: 800;
text-align: center;
text-transform: uppercase;
margin-top: -150px; /* Ajustar el margen superior */
}
.misionvideo h1:hover{
    color: #02ddff;
    text-shadow: 2px 2px 4px #000000;
    transform: translateY(-10px); /* Efecto de elevación */
}

.misionvideo p{

font-size: 30px;
color: #02ddff;
text-shadow: 2px 2px 2px #222121;
/*text-shadow: 2px 2px 4px #ffffff;*/
font-weight: 600;
justify-content: space-between;
width:100%;
margin-top:100px; /* Agregar margen superior */
text-align: center;
}
.misionvideo p:hover{
    color: #02ddff;
    text-shadow: 2px 2px 4px #222121;
    transform: translateX(-10px); /* Efecto de elevación */
}

#mision {
min-height: 100vh;
position: relative;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.capa{
   position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
    z-index: 2;
}
button {
    background: linear-gradient(45deg, #ff6600, #ffe607); /* Degradado de color */
    border: none;
   margin-top: 50px;
    border-radius: 20px; /* Bordes redondeados */
    color: rgba(1, 0, 32, 0.767); /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
    font-weight: 700; /* Ancho de la letra */
    padding: 15px 30px; /* Espaciado interno */
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* Transición más duradera */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Sombra oscura */
}

button:focus {
    outline: none;
}

button:hover {
    transform: translateY(-10px); /* Efecto de elevación */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada al hacer hover */
}


/*CREACION DEL NUEVO FOOTER*/
/*Aquí debajo va el FOOTER*/

footer{
    width: 100%;
    padding: 40px 0px;
    /*background-image: url(../Images/background-footer.svg);*/
    background-size: cover;
    
    background: linear-gradient(to right, #002454, #0077FF);
    background-color: #000000;
    -webkit-mask-image: url("../background-footer.svg");
    mask-image: url("../background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: 1000;
    
 }
 
 .container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
 }
 
 .box__footer{
    display: flex;
    flex-direction: column;
    padding: 5px;
 }
 
 .box__footer .logo img{
    width: 180px;
 }
 
 .box__footer .terms{
    max-width: 350px;
    margin-top: 10px;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
 }
 
 .box__footer h2{
    margin-bottom: 5px;
    padding: 40px 0px 0px 0px;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #0a0a0a;
    font-weight: 700;
    position: relative;
    cursor: pointer;
 }
 .box__footer h2::after {
    content: '';
    height: 3px;
    width: 0px;
    background-color: rgb(247, 255, 1);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.3s ease;
 }
 .box__footer h2:hover::after {
    width: 100px;
  }
  .box__footer h2:hover{
    color: rgba(0, 217, 255, 0.945);
   
  }
 
 .box__footer a{
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    transition: 0.3s ease;
 }
 .box__footer a::before {
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 0px;
    left: -10px;
    background-color: rgb(150, 4, 4);
    transition: 0.5s ease;
    opacity: 0;
  }
 
  .box__footer a:hover::before {
    opacity: 1;
  }
  .box__footer a:hover {
    transform: translateX(-8px);
    color: rgb(2, 225, 255);
  }
 
 .locacion{
    margin-top: 10px;
    color: #ffffff;
 }
 .box__footer a:hover{
    opacity: 0.8;
 }
 
 .box__footer a .fab{
    font-size: 20px;
 }
 
 .box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
 }
 
 .box__copyright p{
    margin-top: 20px;
    color: #ffffff;
 }
 
 .box__copyright hr{
    border: none;
    height: 1px;
    
    background-color: #ffffff;
 }
 
 
 
 
 
  @media(max-width:950px){
     .header label{
         display: initial;
     }
 
     .header{
         padding: 20px 10%;
     }
     .header .navigation{
         position: absolute;
         top: 100%;
         left: 0;
         right: 0;
         background: linear-gradient(to bottom, #00bbffb2, rgb(1, 27, 34));
         display: none;
 
     }
     .header .navigation ul li{
         width: 100%;
     }
     .header .navigation ul li a{
         padding: 8px 30px 8px 10%; /*HACIA ARRIBA, HACIA LA DERECHA, HACIA ABAJO, HACIA LA IZQUIERDA*/
     }
     .header .navigation ul li ul{
         position: relative;
         width: 100%;
         left: 0;
     }
     .header .navigation ul li ul li {
         background-color: rgb(2, 29, 65);
     }
     .header .navigation ul li ul li ul{
         position: relative;
         width: 100%;
         left: 0;
     }
     #toggle:checked ~ .navigation{
         display: block;
     }
     
  }
  @media (max-width: 768px) {
    .logo img {
        width: 80px;
    }
 }
 