@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap);

body{
    font-family: "Lora", serif;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(45deg, hsl(0, 0%, 100%), hsl(199, 97%, 31%)); /* Degradado de color para el fondo */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
}

a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno{
    padding: 0 50px;
    
}
    .header{
    background-position: center;/*Aqui le damos el aspecto que tendra la imagen*/
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
   
    }
        .menu .interior{
            background: linear-gradient(to bottom, rgba(151, 170, 253, 0.699), rgb(1, 27, 34));
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            

        }
            .logo{  
                display: flex;
                flex:3 1 auto; 
                z-index: 2;      
                      
            }
            .logo{
                float: left;
                padding: 5px 5px 0;
            }
            .logo img{
                height: 80px;
            }
            .logo img:hover{
                transform: scale(1.1);
            }
            .nav{
          
                flex:5 1 auto;              
            }
            .nav{
                font-family: "Quicksand", sans-serif;
                background: linear-gradient(to bottom, rgba(151, 170, 253, 0.699), rgb(1, 27, 34));
                float: right;
                display: flex;
                align-items: center;
                min-height: 90px;
                z-index: 1000;
            }
            .nav ul{
                list-style: none;
                padding: 0 10px;
                z-index: 2;
            }
            .nav ul li{
                display: inline-block;
                position: relative;
                transition: .3s linear;
                z-index: 1000;
               
            }
            .nav ul li:hover{
                transform: scale(1.1);
            }
            .nav ul li a{
                color: #ffffff;
                text-shadow: 2px 2px 4px #000000;
                text-align: center;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: bold;
                padding: 12px 20px;
                transition: .3s linear;
            }
            
            .nav ul li a:hover{
                color: #f7d309;
                transform: scale(1.1);
                background: linear-gradient(to bottom, #002454, #0b4d92); /* Degradado de azul oscuro a azul claro */
                border-radius: 8px;
            }
            
            .nav ul li:hover .hijos{
                display: block;
                background-color: hsla(224, 73%, 20%, 0.89);
                
            }
            .nav .submenu .hijos{
                display: none;
                background: linear-gradient(to bottom, hsla(187, 100%, 7%, 0.192), hsla(193, 98%, 50%, 0.473));
                position: absolute;
                width: 140%;
                margin-top: 5px;
                left: 0; /* Ajusta la posición del submenú */
                
               
            }
            .nav .submenu .hijos li{
                display: block;
                overflow: hidden;
                border-bottom: none;
                z-index: 2;
            }
            .nav .submenu .hijos li a{
                display: block;
                text-align: left; 
                z-index: 2;
            }
            
.misionvideo {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2; /*POCISIONA EL ELEMENTO ENCIMA DEL OTRO*/
}
.misionvideo h1{
font-size: 100px;
color: aliceblue;
text-shadow: 2px 2px 4px #000000;
font-weight: 800;
text-align: center;
text-transform: uppercase;
margin-top: -100px; /* Ajustar el margen superior */
}
.misionvideo h1:hover{
    color: #02ddff;
    text-shadow: 2px 2px 4px #000000;
    transform: translateY(-10px); /* Efecto de elevación */
}

.misionvideo p{
font-family: "Quicksand", sans-serif;
font-size: 20px;
color: rgb(2, 21, 34);
text-shadow: 2px 2px 4px #ffffff;
font-weight: 500;
justify-content: space-between;
width:100%;
margin-top:200px; /* Agregar margen superior */
text-align: center;
}
.misionvideo p:hover{
    color: #012451;
    text-shadow: 2px 2px 4px #ffffff;
    transform: translateX(-10px); /* Efecto de elevación */
}

#mision {
min-height: 100vh;
position: relative;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
button {
    background: linear-gradient(45deg, #ff6600, #ffe607); /* Degradado de color */
    border: none;
    font-family: "Montserrat", sans-serif;
    border-radius: 20px; /* Bordes redondeados */
    color: rgba(1, 0, 32, 0.767); /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
    font-weight: 700; /* Ancho de la letra */
    padding: 15px 30px; /* Espaciado interno */
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* Transición más duradera */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Sombra oscura */
}

button:focus {
    outline: none;
}

button:hover {
    transform: translateY(-10px); /* Efecto de elevación */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada al hacer hover */
}
.wave{
    position: absolute;
    bottom: 180px;
    left: -0px;
    width: 100%;
    z-index: 1;
} 