@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}

/*TITULOS, SON LOS PRINCIPALES DEBAJO DE LA FOTOGRAFIA*/
.titulo{
    color: #071252;
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
}
.titulo:hover{
    color: #987f05;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno{
    padding: 0 50px;
    
}
/*El HEADER*/
.header{
    /*PARA EL GRADIENTE: se utilizo el uiGradients*/
      /*Esto de ../ nos ayuda a retroceder sobre un directorio*/
       width: 100%;
       height: 600px; /*Pocisionamos la imgen el el tamaño*/
       background: #2980B9;  /* fallback for old browsers */
       background: -webkit-linear-gradient(to right, hsla(0, 0%, 100%, 0.641), hsla(196, 93%, 70%, 0.619), hsla(204, 64%, 44%, 0.696)), url(../img/NOVEDADES/nov1.jpg);  /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to right, hsla(0, 0%, 100%, 0.641), hsla(196, 93%, 70%, 0.619), hsla(204, 64%, 44%, 0.696)), url(../img/NOVEDADES/nov1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
       background-attachment: fixed;
       background-size: cover;
       position: relative;
       }
 

   header .textos-header{
        display: flex;  
        text-transform: uppercase;
         height: 400px;/*CAMBIA LA ALTURA DEL TEXTO*/
         width: 100%;
         padding-inline-start: 15px;
         align-items: center;
         justify-content:center ;/*Es para justificar el texto*/
         flex-direction: column; /*Aqui es cuando tenemos el texto en una misma linea y asi lo baja..! a la siguiente*/
         text-align: center;
        }

        .textos-header h1{
          font-size: 90px;
          font-style: italic;
            font: 75px;
            font-weight: 900;
            color: #ffffff;
            text-shadow: 2px 2px 4px #050505;
            animation: mover-izquierda-derecha 2s 1; /* Animación infinita */
        
        }
        .textos-header h1:hover{
            color: #071252;
            text-shadow: 2px 2px 2px #ffffff;
        }
        .textos-header h2{
            font-size: 40px;
            font: 20px;
            font-weight: 600;
            color: #30302f;
            text-shadow: 2px 2px 2px #f8f8f8;
            animation: mover-izquierda-derecha 2s 1; /* Animación infinita */
        }
        @keyframes mover-izquierda-derecha {
            0% {
                transform: translateX(-100px); /* Desde -100px (izquierda) */
            }
            100% {
                transform: translateX(10px); /* Hasta 100px (derecha) */
            }
        }
        .textos-header h3{
            font-style: italic;
            font-size: 25px;
            font: 20px;
            font-weight: 600;
            color: #575757;
            text-shadow: 2px 2px 4px #f0e6e6;
            animation: mover-izquierda-derecha 2s 1; /* Animación infinita */
        }
        .textos-header h3:hover{
            color: #071252;
            text-shadow: 2px 2px 4px #fffefe;
        }

    /*AQUI SE DESGLOSA LA PARTE DEL MENU PRINCIPAL DE LA PAGINA*/
    .header .header2{
        position: relative;
        height: 55px;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, #00bbffb2, rgb(1, 27, 34));
        padding: -20px 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
       
     }
       /*CAMBIAR EL LOGO*/
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 160px; /* Ajusta el ancho según el tamaño de tu logo */
    height: auto; /* Esto asegura que la imagen se ajuste proporcionalmente */
  }
  .logo img:hover{
    transform: scale(1.1);
  }
  .navigation ul{
     list-style: none;
     padding: 0 10px;
     text-shadow: 2px 2px 4px #000000;
  }
  .header2 .navigation ul li{
     float: left;
     position: relative;
     transition: .3s linear;
     z-index: 1000;
  }
  .navigation ul li:hover{
    transform: scale(1.1);
  }
  
  .navigation ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px; /* Posición inicial por debajo del texto */
    width: 100%;
    height: 3px; /* Grosor de la línea */
    background-color: transparent; /* Color de la línea */
    transition: .20s ease; /* Transición suave */
  }
  .navigation ul li:hover::after {
    bottom: 0; /* Posición final, debajo del texto */
    background-color: #f7d309; /* Color de la línea */
  }
  .header2 .navigation ul li a{
     font-size: 15px;
     color: rgb(255, 255, 255);
     text-decoration: none;
     padding: 16px;
     display: block;
     transition: all .2s ease;
  
  }
  .header2 .navigation ul li a:hover{
     background-color: rgb(2, 29, 65);
     border-radius: 8px;
  }
  .header2 .navigation ul li ul{
     position: absolute;
     right: 0;
     width: 180px;
     background: linear-gradient(to bottom, #00bbffb2, rgb(1, 27, 34));
     display: none;
     border-radius: 8px; /*Se le agrega el borde redondeado*/
  }
  .header2 .navigation ul li ul li a{
     font-size: 14px;
     text-transform: capitalize;
     
  }
  .header2 .navigation ul li ul li ul{
     position: absolute;
     top: 0;
     right: 300px;
   
  }
  .header2 .navigation ul li ul li{
     width: 100%;
  }
  .header2 .navigation ul li:hover > ul{
     display: initial;
  }
  #toggle,
  .header label{
     display: none;
     cursor: pointer;
  }
  
  .menu{
     width: 45px;
     height: 35px;
  }

  .textos-header2 h2{
    padding: 5px 20px; /* Reducir el espacio entre el texto y el borde */
    border-radius: 10px;
    margin: 0 auto; /* Centrar el h2 y agregar margen en la parte superior e inferior */
    margin-bottom: 10px;
    font-size: 45px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font: 20px;
    font-weight: 800;
    color: #071252;
    text-shadow: 2px 2px 4px #e4e0e0;
    animation: mover-izquierda-derecha 2s linear infinite; /* Animación infinita */
    border: 2px solid #ccc; /* Agregar un borde alrededor del h2 */
    max-width: fit-content; /* Ajustar el ancho del h2 al contenido */
}
@keyframes mover-izquierda-derecha {
    0% {
        transform: translateX(-100px); /* Desde -100px (izquierda) */
    }
    100% {
        transform: translateX(10px); /* Hasta 100px (derecha) */
    }
}

.contenedor {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto; /* Centra el contenedor horizontalmente */
    overflow: hidden;
    width: fit-content; /* Ajusta el ancho del contenedor al contenido */
}

.noticias {
    display: flex;
    gap: 10px;
    justify-content: center; /* Centra los elementos horizontalmente */
}

.imagen img {
    width: 500px; /* Ajusta el tamaño deseado */
    height: auto;
    max-width: 100%; /* Asegura que no exceda el 50% del contenedor */
    position: relative;
    transition: transform 0.3s ease-in-out; /* Añade transición para la escala */
}

.imagen:hover {
    transform: scale(1.1); /* Agranda la imagen al pasar el cursor */
    filter: none; /* Quita el filtro */
}

.contenedor2 {
    width: 100%;
    height: 60vh;
    margin-bottom: 10px;
    background-image: url('../img/NOVEDADES/img-mamá.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen2 {
    position: relative;
    overflow: hidden;
}

.imagen2 img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.titulo2 {
    position: absolute;
    bottom: 70px;
    left: 672px;
    color: white;
    text-shadow: 2px 2px 2px #050505;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(1, 217, 255, 0.7);
    padding: 5px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.imagen2:hover img {
    transform: scale(1.1);
}

.imagen2:hover .titulo2 {
    opacity: 1;
}

.contenedor3 { 
    padding: 20px;
    margin: 20px auto; /* Centra el contenedor horizontalmente */
    overflow: hidden;
    width: fit-content; /* Ajusta el ancho del contenedor al contenido */
}

.noticias3 {
    display: flex;
    gap: 20px;
    justify-content: center; /* Centra los elementos horizontalmente */
}

.imagen3 img {
    border-radius: 10px;
    width: 300px; /* Ajusta el tamaño deseado */
    height: auto;
    max-width: 100%; /* Asegura que no exceda el 50% del contenedor */
    position: relative;
    transition: transform 0.3s ease-in-out; /* Añade transición para la escala */
}

.imagen3:hover {
    transform: scale(1.1); /* Agranda la imagen al pasar el cursor */
    filter: none; /* Quita el filtro */
}



/*SECCION DE DEPARTAMENTOS*/
.servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;
    max-width: 1200px;
}

.servicio {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.servicio img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.servicio .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.servicio:hover .overlay {
    opacity: 1;
}

.servicio:hover img {
    transform: scale(1.1);
}

.servicio h3 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 10px;
}
/*PRIMERA SECCION DE LOS BENEFICIOS: */

  .beneficios {
    border: 2px solid #ccc; /* Agrega un borde lineal a la sección */
    border-radius: 10px; /* Añade esquinas redondeadas al borde */
    padding: 20px; /* Añade espacio interno alrededor de la sección */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px auto;
    max-width: 1200px;
    
  }

  .imagen {
    flex: 1;
  }
  
  .contenido {
    flex: 1;
    margin-left: 40px;
  }
  .contenido h2{
    font-size: 25px;
    color: #987f05;
    text-transform: uppercase;
    padding-bottom: 15px;
    text-shadow: 2px 2px 1px #000000;
  }
  .beneficio {
    margin-bottom: 20px;
  }
  
  .beneficio img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    transition: transform 0.3s ease; /* Agrega una transición suave al icono */
  }
  
  .beneficio:hover img {
    transform: scale(1.1); /* Aumenta la escala del icono al pasar el mouse */
  }
  
  .beneficio h3 {
    margin: 0;
    transition: transform 0.3s ease, color 0.3s ease; /* Agrega una transición suave al h3 */
    transform: translateX(0); /* Inicialmente, el h3 no está trasladado */
  }
  
  .beneficio:hover h3 {
    color: #0053cf; /* Cambia el color del texto al pasar el mouse */
    transform: translateX(10px); /* Traslada el h3 hacia la derecha al pasar el mouse */
  }
  
  
  .beneficio p {
    margin-top: -15px;
    margin-left: 60px;
  }
  
  .beneficio-contenido {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .beneficios .imagen2 img{
    max-width: 100%;
    width:360px;
    height: auto;
  
  }
  

  /*CREACION DEL NUEVO FOOTER*/
/*Aquí debajo va el FOOTER*/

footer{
    width: 100%;
    padding: 10px 0px;
    /*background-image: url(../Images/background-footer.svg);*/
    background-size: cover;
    background: linear-gradient(to right, #002454, #0077FF);
  /*  -webkit-mask-image: url("../background-footer.svg");
    mask-image: url("../background-footer.svg");*/
    -webkit-mask-size: cover;
    mask-size: cover;
 }
 
 .container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
 }
 
 .box__footer{
    display: flex;
    flex-direction: column;
    padding: 0px;
 }
 
 .box__footer .logo img{
    width: 180px;
    margin-left: -20px;
    
 }
 
 .box__footer .terms .terms1{
    max-width: 350px;
    margin-top: 10px;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
 }
 
 .box__footer h2{
    margin-bottom: 5px;
    padding: 40px 0px 0px 0px;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #0a0a0a;
    font-weight: 700;
    position: relative;
    cursor: pointer;
 }
 .box__footer h2::after {
    content: '';
    height: 3px;
    width: 0px;
    background-color: rgb(247, 255, 1);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.3s ease;
 }
 .box__footer h2:hover::after {
    width: 100px;
  }
  .box__footer h2:hover{
    color: rgba(106, 242, 252, 0.808);
  }
 
 .box__footer a{
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    transition: 0.3s ease;
 }
 .box__footer a::before {
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 0px;
    left: -10px;
    background-color: rgb(150, 4, 4);
    transition: 0.5s ease;
    opacity: 0;
  }
 
  .box__footer a:hover::before {
    opacity: 1;
  }
  .box__footer a:hover {
    transform: translateX(-8px);
    color: rgb(2, 225, 255);
  }
 
 .locacion{
    margin-top: 10px;
    color: #ffffff;
 }
 .box__footer a:hover{
    opacity: 0.8;
 }
 
 .box__footer a .fab{
    font-size: 25px;
    padding: 0px 5px;
    

 }
 
 .box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
 }
 
 .box__copyright p{
    margin-top: 20px;
    color: #ffffff;
 }
 
 .box__copyright hr{
    border: none;
    height: 1px;
    
    background-color: #ffffff;
 }
 
 